.header-container {
  justify-content: space-between;
  padding: 1.5em 3em;
  background-color: var(--off-blue);
  border-radius: 0 0 8px 8px;
}

.logo-title {
  font-size: 20px;
  color: var(--white);
  margin-left: 1em;
}
