.header-container {
  justify-content: space-between;
  padding: 1.5em 3em;
  background-color: var(--off-blue);
  border-radius: 0 0 8px 8px;
}

.logo-title {
  font-size: 22px;
  color: var(--white);
  margin-left: 1em;
  transition: color 0.1s ease-in-out;
}

.logo-title:hover {
  color: var(--dark-blue);
}

.nav-link-container {
  position: relative;
}

.nav-link-container:hover > .nav-sub-menu,
.nav-link-container:focus > .nav-sub-menu {
  display: block;
}

.nav-link {
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--dark-blue);
}

.delimeter {
  width: 8px;
  height: 8px;
  background-color: var(--dark-blue);
  margin: 0 1em;
  border-radius: 50%;
}

.nav-sub-menu {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3em;
  left: 50%;
  list-style-type: none;
  background-color: var(--off-blue);
  z-index: 10;
  transform: translateX(-50%);
}

.nav-sub-menu::before {
  content: '';
  position: absolute;
  top: calc(-3em + 16px);
  left: 0;
  width: 100%;
  height: calc(3em - 16px);
}

.nav-sub-menu:hover {
  display: block;
}

.nav-sub-menu:hover + .nav-link,
.nav-sub-menu:focus + .nav-link {
  color: var(--dark-blue);
}

.nav-sub-menu > li {
  margin-bottom: 0.2em;
}

.nav-sub-menu > li:last-child {
  margin: 0;
}

.nav-sub-menu > li > a {
  font-size: 14px;
  display: block;
  padding: 0.6em 4em;
  background-color: var(--dark-blue);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  z-index: 10;
}

.nav-sub-menu > li > a:hover,
.nav-sub-menu > li > a:focus {
  background-color: var(--off-blue);
}

.language-container {
  justify-content: flex-end;
  padding: 2em 3em;
  background-color: transparent;
}

.flag-container:first-child {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 2px solid var(--dark-blue);
}

@media only screen and (max-width: 900px) {
  .header-container {
    padding: 1.5em 2em;
  }

  .language-container {
    padding: 2em 2em;
  }
}
